<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="Kodi Setup Kit">
    <setting id="api_url" type="text" label="Setup service URL" default="https://famyt-vercel.vercel.app/api/youtube-keys"/>
    <setting id="last_install" type="text" label="Last install cache" default="" visible="false"/>
    <setting id="last_youtube_install" type="text" label="Last YouTube install cache" default="" visible="false"/>
    <setting id="last_torbox_install" type="text" label="Last TorBox install cache" default="" visible="false"/>
    <setting id="last_a4ksubtitles_install" type="text" label="Last a4kSubtitles install cache" default="" visible="false"/>
    <setting id="last_cocoscrapers_install" type="text" label="Last Cocoscrapers install cache" default="" visible="false"/>
    <setting id="last_advanced_network_install" type="text" label="Last advanced network install cache" default="" visible="false"/>
    <setting id="last_keymaps_install" type="text" label="Last keymaps install cache" default="" visible="false"/>
    <setting id="last_guisettings_backup" type="text" label="Last GUI settings backup cache" default="" visible="false"/>
    <setting id="last_guisettings_preset_save" type="text" label="Last GUI settings preset save cache" default="" visible="false"/>
    <setting id="last_guisettings_restore" type="text" label="Last GUI settings restore cache" default="" visible="false"/>
    <setting id="last_skinsettings_backup" type="text" label="Last skin settings backup cache" default="" visible="false"/>
    <setting id="last_skinsettings_preset_save" type="text" label="Last skin settings preset save cache" default="" visible="false"/>
    <setting id="last_skinsettings_restore" type="text" label="Last skin settings restore cache" default="" visible="false"/>
  </category>
</settings>
