<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<!-- General -->
	<category label="General">
		<setting label="Fen Light AIsearch uses its own settings window." type="text" enable="false" />
		<setting label="Open Fen Light AIsearch Settings..." type="action" option="close" action="RunPlugin(plugin://plugin.video.fenlight.aisearch/?mode=open_settings)" />
	</category>
</settings>
